@model ProyectoMascotas.DAL.Models.Administracion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Administracion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreAdm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreAdm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contrasena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contrasena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagenUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagenUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UltimaConexion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UltimaConexion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAdm">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
